@font-face {
    font-family: 'Shadows Into Light', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Shadows Into Light';
}

a {
    color: white;
    font-family: 'Shadows Into Light';
}

header {
    width: 100%;
    height: 60px;
    background: #696969;
    font-family: 'Shadows Into Light';
}

.cabecera{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: 60px;
    font-family: 'Shadows Into Light';
    
}

.fotocabecera{
    width: 275px;
    height: 60px;
    padding-right: 50px;
    float: left;
    font-family: 'Shadows Into Light';
}

.items-cabecera{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 50px;
    width: 300px;
    height: 30px;
    float: right;
    font-family: 'Shadows Into Light';
}

.iconos-cabecera{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    float: right;
    font-family: 'Shadows Into Light';
}






.navegacion{
    width: 100%;
    margin: 5px;
    margin: auto;
    background: #2F4F4F;
    font-family: 'Shadows Into Light';
}

.navegacion ul{
    list-style: none;
    font-family: 'Shadows Into Light';
}

.menu > li {
    position: relative;
    display: inline-block;
    font-family: 'Shadows Into Light';
}

.menu > li > a {
    display: block;
    padding: 15px;
    
    font-family: 'Open sans';
    text-decoration: none;
    font-family: 'Shadows Into Light';
}

.menu li a:hover{
    color: #708090;
    transition: all .3s;
}


.submenu {
    position: absolute;
    background: #A9A9A9;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    font-family: 'Shadows Into Light';
}

.submenu li a{
    display: block;
    padding: 15px;
    color: teal;
    font-family: 'Shadows Into Light';
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
} 






#contenedor {
    font-family: 'Shadows Into Light';
}


#menu {
    margin-top: 50px;
  float: left;
  width: 12%;
  height: 1930px;
  background: #808080;
  font-family: 'Shadows Into Light';
}
#contenido {
    margin-top: 50px;
  float: right;
  width: 88%;
  background: 	#C0C0C0;
  font-family: 'Shadows Into Light';
}
#contenido #principal {
  float: left;
  width: 75%;
  background: 	#696969;
  height: 1930px;
  font-family: 'Shadows Into Light';
}
#contenido #secundario {
  float: left;
  width: 25%;
  background: #DCDCDC;
  font-family: 'Shadows Into Light';
}

#pie {
  clear: both;
  background:#708090;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Shadows Into Light';
}


.separacion{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.titulos{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.subt{
    margin-top: 15px;
    margin-bottom: 20px;
}