* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


header {
    width: 100%;
    height: 60px;
    background: #696969;
}

.cabecera{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: 60px;
    
    
}

.fotocabecera{
    width: 275px;
    height: 60px;
    padding-right: 50px;
    float: left;
}

.items-cabecera{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 50px;
    width: 300px;
    height: 30px;
    float: right;
}

.iconos-cabecera{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    float: right;
}






.navegacion{
    width: 100%;
    margin: 5px,auto;
    background: #2F4F4F;
    
}

.navegacion ul{
    list-style: none;
    
}

.menu > li {
    position: relative;
    display: inline-block;

}

.menu > li > a {
    display: block;
    padding: 15px;
    color: ;
    font-family: 'Open sans';
    text-decoration: none;

}

.menu li a:hover{
    color: #708090;
    transition: all .3s;
}


.submenu {
    position: absolute;
    background: #C0C0C0;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s

}

.submenu li a{
    display: block;
    padding: 15px;
    color: teal;

}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}



/**Seccion 1*/

.main {
    background: 	#A9A9A9;
    width: 100%;
    height: 450px;
    margin-top: 3.3%;
    
}

.main .articles{
    width: 40%;
    float: left;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 20px;
}

.foto{
    
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 20px;
    width: 750px;
    height: 410px;
}

.titulo1 {
    font-size: 55px;
    text-align: center;
    line-height: 70px;
}

.parrafo1 {
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}



/**Botones**/


.botones{
    margin-left: 140px;
    float: left;
}

.boton_1{
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

/**SECCION2*/

.ma {
    background: #D3D3D3;
    width: 100%;
    height: 450px;
    float: left;
}



.titulo2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

#tienda{
    width: 210px;
    height: 285px;
    margin-left: 20px;
    margin-right: 20px;
}




/**Seccion3

**/

.main3 {
    background: rgb(43, 42, 42);
    width: 100%;
    height: 420px;
    float: left;
}

.imgRedonda {
    margin-right: 100px;
    margin-left: 100px;
    width:300px;
    height:300px;
    border-radius:150px;
}


.mafinal {
    background: #D3D3D3;
    width: 100%;
    height: 100px;
    
}

.mafinal .aa{
    width: 10px;
    height: 10px;
}

.teto {
    width:30px;
    height:30px;
    
}

.lala{
    height: 250px;
    width: 100px;
    
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 140px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:top}







